In [0]:
# 1 - Import libraries
import pandas as pd
import matplotlib as plt
import plotly.express as px
from plotly import graph_objects as go

In [24]:
# 2 - Create Dataframe

raw_data = {'first_name': ['Jason', 'Jason','Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jones','Ali', 'Milner', 'Cooze'], 
        'age': [42, 31, 36, 24, 73], 
        'preTestScore': [4, 4, 10, 2, 3],
        'midTestScore': [10,11,40,12,15],
        'postTestScore': [25, 25, 57, 62, 70],
        'Company': ['A','B','A','B','A']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'midTestScore','postTestScore','Company'])
df

  first_name last_name  age  preTestScore  midTestScore  postTestScore Company
0      Jason    Miller   42             4            10             25       A
1      Jason     Jones   31             4            11             25       B
2       Tina       Ali   36            10            40             57       A
3       Jake    Milner   24             2            12             62       B
4        Amy     Cooze   73             3            15             70       A

In [25]:
# 3 - Filter - View One Column
df['first_name']

0    Jason
1    Jason
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [26]:
# 4 - Filter - View Two Columns
df[['first_name', 'postTestScore']]

  first_name  postTestScore
0      Jason             25
1      Jason             25
2       Tina             57
3       Jake             62
4        Amy             70

In [0]:
# 5 - Filter - View first name, pre test score, mid test score, post test score (4 columns)

In [27]:
# 6 - Filter - View first two rows
df[:2]

  first_name last_name  age  preTestScore  midTestScore  postTestScore Company
0      Jason    Miller   42             4            10             25       A
1      Jason     Jones   31             4            11             25       B

In [0]:
# 7 - Filter - View first 4 rows of the dataset

In [28]:
# 8 - Filter - View rows where postTestScore is greater than 40
df[df['postTestScore'] > 40]

  first_name last_name  age  preTestScore  midTestScore  postTestScore Company
2       Tina       Ali   36            10            40             57       A
3       Jake    Milner   24             2            12             62       B
4        Amy     Cooze   73             3            15             70       A

In [29]:
# 9 - Filter - View rows where postTestScore is greater than 40 and preTestScore is less than  5
df[(df['postTestScore']  > 40) & (df['preTestScore'] < 5)]

  first_name last_name  age  preTestScore  midTestScore  postTestScore Company
3       Jake    Milner   24             2            12             62       B
4        Amy     Cooze   73             3            15             70       A

In [0]:
# 10 - Filter - View rows where the pre test score is greater than 5

In [0]:
# 11 - Filter - View rows where the pre test score is greater than 5 AND the post test score is greater than 50

In [30]:
# 12 - Analyse - The sum of all the ages
df['age'].sum()

206

In [31]:
# 13 - Analyse - Mean preTestScore
df['preTestScore'].mean()

4.6

In [0]:
# 14 - Analyse - Get the mean of the post test score

In [32]:
# 15 - Analyse - Cumulative sum of preTestScore
df['preTestScore'].cumsum()

0     4
1     8
2    18
3    20
4    23
Name: preTestScore, dtype: int64

In [33]:
# 16 - Analyse - Summary Statistics on preTestScore
df['preTestScore'].describe()

count     5.000000
mean      4.600000
std       3.130495
min       2.000000
25%       3.000000
50%       4.000000
75%       4.000000
max      10.000000
Name: preTestScore, dtype: float64

In [0]:
# 17 - Analyse - Get summary statistics on post test score

In [34]:
# 18 - Analyse - Minimum value of preTestScore
df['preTestScore'].min()

2

In [35]:
# 19 - Analyse- Maximum value of preTestScore
df['preTestScore'].max()

10

In [36]:
# 20 - Analyse - Median value of preTestScore
df['preTestScore'].median()

4.0

In [0]:
# 21 - Analyse - Get the median of the post test score

In [37]:
# 22 - Analyse - Standard deviation of preTestScores
df['preTestScore'].std()

3.1304951684997055

In [0]:
# 23 - Analyse - Get the standard deviation of the post test score

In [38]:
# 24 -  Analyse - Correlation matrix of values
df.corr()

                    age  preTestScore  midTestScore  postTestScore
age            1.000000     -0.120427     -0.043311       0.388334
preTestScore  -0.120427      1.000000      0.934778       0.017228
midTestScore  -0.043311      0.934778      1.000000       0.363547
postTestScore  0.388334      0.017228      0.363547       1.000000

In [0]:
# 25 - Analyse - What does the correlation matrix tell us about the relationship between pre and mid score test results?

In [39]:
# 26 - Visualisation - bar chart of the pre test score results
fig1 = go.Figure(
    data = [
        go.Bar(
            name="Original",
            x=df["last_name"],
            y=df["preTestScore"],
            offsetgroup=0,
        ),
    ],
    layout=go.Layout(
        title="Pre Test Score Results",
        yaxis_title="Score"
    )
)
fig1.show()

In [0]:
# 27 - Visualisation - Modifying the plotly chart - get the equivalent chart for the post test scores